* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 15px;
}

h3 {
  font-size: 1rem;
  text-align: center;
}

h4 {
  font-size: 1.5rem;
}

ul,
ol {
  list-style-type: none;
  justify-content: center;
}

body {
  background-image: url("../fotos/fondo/cartographer.png");
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #ffffff;
}
body main {
  padding: 25px;
  width: auto;
  border: 0%;
}

.header {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  justify-content: center;
}
.header ul,
.header ol {
  list-style-type: none;
  justify-content: center;
  padding-top: 20px;
  padding-left: 0%;
}

footer {
  padding: 25px;
  text-align: center;
  width: 100vw;
}
footer img {
  width: 100;
}

@media (max-width: 570px) {
  .imagenes-miniatura {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .imagenes-miniatura img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (min-width: 571px) {
  .imagenes-miniatura {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .imagenes-miniatura img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.barra__nav-list {
  padding: 0%;
  display: flex;
  gap: 15px;
  text-align: center;
}
.barra__nav-list li :active {
  color: #F6B718;
}

.boton-enviar {
  width: 70px;
  height: 25px;
  text-align: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 15px;
}

@media (max-width: 576px) {
  .boton-adjuntar {
    width: 110px;
    height: 25px;
    text-align: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border-radius: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 576px) {
  .boton-adjuntar {
    width: 110px;
    height: 25px;
    text-align: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border-radius: 15px;
    padding-right: 50px;
  }
}
@media (max-width: 570px) {
  .index-main {
    display: grid;
    grid-template-rows: 40% 60%;
    text-align: center;
    justify-content: center;
  }
  .index-main__parrafo {
    text-align: justify;
  }
  .index-main__imagen--grande {
    display: none;
  }
  .index-main__imagen--mediano {
    display: none;
  }
  .index-main__imagen--pequeno {
    display: none;
  }
}
@media (min-width: 571px) and (max-width: 749px) {
  .index-main {
    display: grid;
    grid-template-rows: 30% 70%;
    text-align: center;
    justify-content: center;
    gap: 40px;
  }
  .index-main__parrafo {
    text-align: justify;
  }
  .index-main__imagen--grande {
    display: none;
  }
  .index-main__imagen--pequeno {
    display: none;
  }
}
@media (min-width: 750px) and (max-width: 1100px) {
  .index-main {
    display: grid;
    grid-template-columns: 30% 70%;
    text-align: center;
    justify-content: center;
    gap: 30px;
  }
  .index-main__parrafo {
    text-align: justify;
  }
  .index-main__imagen--mediano {
    display: none;
  }
  .index-main__imagen--grande {
    display: none;
  }
}
@media (min-width: 1101px) {
  .index-main {
    display: grid;
    grid-template-columns: 30% 70%;
    text-align: center;
    justify-content: center;
    gap: 30px;
  }
  .index-main__parrafo {
    text-align: justify;
  }
  .index-main__imagen--mediano {
    display: none;
  }
  .index-main__imagen--pequeno {
    display: none;
  }
}
@media (max-width: 576px) {
  .nosotros-main {
    padding-top: 0%;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
  }
  .nosotros-main__mision {
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding-top: 0%;
    padding-bottom: 10px;
  }
  .nosotros-main__vision--titulo-mision {
    padding-bottom: 40px;
    height: 32px;
  }
  .nosotros-main__vision {
    justify-content: center;
    align-items: center;
    text-align: justify;
  }
  .nosotros-main__vision--titulo-vision {
    padding-bottom: 40px;
    height: 32px;
  }
}
@media (min-width: 576px) {
  .nosotros-main {
    padding-top: 0%;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
  }
  .nosotros-main__mision {
    display: grid;
    grid-template-columns: 30% 40%;
    justify-content: center;
    align-items: center baseline;
    padding-top: 20px;
    padding-bottom: 50px;
    gap: 30px;
  }
  .nosotros-main__vision--titulo-mision {
    height: 30vh;
    width: 30vw;
  }
  .nosotros-main__vision {
    display: grid;
    grid-template-columns: 30% 40%;
    justify-content: center;
    align-items: center baseline;
    gap: 30px;
    padding-bottom: 20px;
  }
  .nosotros-main__vision--titulo-vision {
    height: 30vh;
    width: 30vw;
  }
}
@media (max-width: 576px) {
  .imagenes-servicios {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
  }
  .imagenes-servicios__cortinas {
    display: grid;
    gap: 30px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .imagenes-servicios__luminarias {
    display: grid;
    gap: 30px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .imagenes-servicios__muebles {
    display: grid;
    gap: 30px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .imagenes-servicios__cortinas--portada {
    border-radius: 15px;
    width: 100%;
  }
  .imagenes-servicios__luminarias--portada {
    border-radius: 15px;
    width: 100%;
  }
  .imagenes-servicios__muebles--portada {
    border-radius: 15px;
    width: 100%;
  }
  .imagenes-servicios h3 {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .imagenes-servicios {
    display: grid;
    padding-top: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }
  .imagenes-servicios__cortinas--portada {
    border-radius: 30px;
    padding: 10px;
    width: 100%;
  }
  .imagenes-servicios__luminarias--portada {
    border-radius: 30px;
    padding: 10px;
    width: 100%;
  }
  .imagenes-servicios__muebles--portada {
    border-radius: 30px;
    padding: 10px;
    width: 100%;
  }
  .imagenes-servicios h3 {
    display: none;
  }
}
.presentacion-cortinas {
  text-align: center;
  padding-bottom: 20px;
}

.presentacion-luminaria {
  text-align: center;
  padding-bottom: 20px;
}

.presentacion-muebles {
  text-align: center;
  padding-bottom: 20px;
}

@media (max-width: 576px) {
  .contacto {
    gap: 30px;
    padding-top: 15px;
  }
  .contacto__lista {
    text-align: center;
    padding-left: 0%;
  }
  .contacto__lista--mapa-grande {
    display: none;
  }
  .contacto__lista--textarea {
    padding-bottom: 10px;
  }
}
@media (min-width: 576px) {
  .contacto {
    display: grid;
    padding-top: 15px;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
  .contacto__lista--mapa-grande {
    padding: 10px;
    width: 100%;
  }
  .contacto__lista--mapa-chico {
    display: none;
  }
}
@media (max-width: 576px) {
  .formulario__lista-puestos {
    gap: 70px;
    padding: 15px;
    text-align: center;
  }
  .formulario__lista-campos {
    text-align: left;
    padding-left: 0%;
  }
  .formulario__lista-campos li {
    padding: 10px;
  }
}
@media (min-width: 576px) {
  .formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  .formulario__lista-puestos {
    gap: 70px;
    padding: 15px;
  }
  .formulario__lista-campos {
    align-items: center;
    padding-left: 15px;
  }
  .formulario__lista-campos li {
    padding: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
