@media (max-width:576px) {
  
    .contacto {
        gap: 30px;
        text-align: center;
        padding-top: 15px;
        justify-content: center;
        align-items: center;
    }
  
  
    .contacto__lista--mapa-grande {
        display: none;
    }
  
  
    .contacto__lista--textarea {
        padding-bottom: 10px;
    }
  
}
@media (min-width:576px) { 
    .contacto {
        display: grid;
        padding-top: 15px;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
  
  
    .contacto__lista--mapa-grande {
        padding: 10px;
        width: 100%;
    }
  
  
    .contacto__lista--mapa-chico {
        display: none;
    }
}