@media (max-width:570px) {

    .index-main {
        display: grid;
        grid-template-rows: 40% 60%;
        text-align: center;
    }

    .index-main__parrafo {
        text-align: justify;
    }

    .index-main__imagen--grande {
        display: none;
    }

    .index-main__imagen--mediano {
        display: none;
    } 
}

@media (min-width:571px) and (max-width: 749px) {

    .index-main {
        display: grid;
        grid-template-rows: 30% 70%;
        text-align: center;
        gap: 40px;
    }

    .index-main__parrafo {
        text-align: justify;
    }

    .index-main__imagen--grande {
        display: none;
    }

    .index-main__imagen--pequeno {
        display: none;
    }
}

    @media (min-width:750px) {

        .index-main {
            display: grid;
            grid-template-columns: 30% 70%;
            text-align: center; 
            gap: 30px;   
        }

        .index-main__parrafo {
            text-align: justify;
        }

        .index-main__imagen--mediano {
            display: none;
        }
    
        .index-main__imagen--pequeno {
            display: none;
        }
}

