@media (max-width:576px) {
  
    .nosotros-main {
        padding-top: 0%;
        padding-bottom: 10px;
        justify-content: center;
        align-items: center
    }
  
  
    .nosotros-main__mision {
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding-top: 0%;
        padding-bottom: 10px;
    }
  
  
    .nosotros-main__vision--titulo-mision {
        padding-bottom: 40px;
        height: 32px;
    }
  
  
    .nosotros-main__vision {
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
  
  
    .nosotros-main__vision--titulo-vision {
        padding-bottom: 40px;
        height: 32px;
    }

  
}

@media (min-width:576px) {
    .nosotros-main {
        padding-top: 0%;
        padding-bottom: 10px;
        justify-content: center;
        align-items: center
    }
  
  
    .nosotros-main__mision {
        display: grid;
        grid-template-columns: 30% 40%;
        justify-content: center;
        align-items: center baseline;
        padding-top: 20px;
        padding-bottom: 50px;
        gap: 30px;
    }
  
  
    .nosotros-main__vision--titulo-mision {
        height: 30vh;
        width: 30vw;
    }
  
  
    .nosotros-main__vision {
        display: grid;
        grid-template-columns: 30% 40%;
        justify-content: center;
        align-items: center baseline;
        gap: 30px;
        padding-bottom: 20px;
    }
  
  
    .nosotros-main__vision--titulo-vision {
        height: 30vh;
        width: 30vw;
    }
 }