@media (max-width:576px) {

    .imagenes-servicios {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;

        h3 {
            width: 100%;
        }
    }



    .imagenes-servicios__cortinas {
        display: grid;
        gap: 30px;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }

    .imagenes-servicios__luminarias {
        display: grid;
        gap: 30px;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }

    .imagenes-servicios__muebles {
        display: grid;
        gap: 30px;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }

    .imagenes-servicios__cortinas--portada {
        border-radius: 15px;
        width: 100%;
    }

    .imagenes-servicios__luminarias--portada {
        border-radius: 15px;
        width: 100%;
    }

    .imagenes-servicios__muebles--portada {
        border-radius: 15px;
        width: 100%;
    }
}

@media (min-width:576px) {
    .imagenes-servicios {
        display: grid;
        padding-top: 15px;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;

        h3 {
            display: none;
        }
    }



    .imagenes-servicios__cortinas--portada {
        border-radius: 30px;
        padding: 10px;
        width: 100%;
    }

    .imagenes-servicios__luminarias--portada {
        border-radius: 30px;
        padding: 10px;
        width: 100%;
    }

    .imagenes-servicios__muebles--portada {
        border-radius: 30px;
        padding: 10px;
        width: 100%;
    }

}